version: "3"

services:
  postgres:
    image: postgres:16
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  vaultwarden:
    image: vaultwarden/server:{{ vaultwarden.image_tag }}
    container_name: vaultwarden
    volumes:
      - ./vw-data:/data # the path before the : can be changed
    ports:
      - 8080:80 # you can replace the 11001 with your preferred port
