version: "3"

services:
  postgres:
    image: postgres:16
    volumes:
      - ./pgdata:/var/lib/postgresql/data:Z
    env_file:
      - .env

  vaultwarden:
    image: {{ vaultwarden_image }}
    container_name: vaultwarden
    volumes:
      - ./vw-data:/data:Z
      - ./logs:/var/log/vaultwarden:Z
    env_file:
      - .env
    ports:
      - {{ vaultwarden_port }}:80
