# POSTGRES VARS
# =============

POSTGRES_USER={{ vaultwarden_postgresql_user }}
POSTGRES_PASSWORD={{ vaultwarden_postgresql_password }}
POSTGRES_DB={{ vaultwarden_postgresql_database }}

# VAULTWARDEN VARS
# ================

#########################
### Database settings ###
#########################

DATABASE_URL=postgresql://{{ vaultwarden_postgresql_user }}:{{ vaultwarden_postgresql_password }}@postgres:5432/{{ vaultwarden_postgresql_database }}

########################
### General settings ###
########################

DOMAIN=https://{{ vaultwarden_fqdn | default(ansible_fqdn, true) }}
SIGNUPS_ALLOWED=false
INVITATION_ORG_NAME="Asgaard Dev - Vaultwarden"

#########################
### Advanced settings ###
#########################

LOG_FILE=/var/log/vaultwarden/vaultwarden.log
ADMIN_TOKEN={{ vaultwarden_admin_token }}

###########################
### SMTP Email settings ###
###########################

SMTP_HOST={{ vaultwarden_smtp_host }}
SMTP_FROM={{ vaultwarden_smtp_from_email }}
SMTP_FROM_NAME={{ vaultwarden_smtp_from_name }}
SMTP_USERNAME={{ vaultwarden_smtp_username }}
SMTP_PASSWORD={{ vaultwarden_smtp_password }}
SMTP_TIMEOUT=15
