{{ ('staging.' ~ (vaultwarden_fqdn | default(ansible_fqdn, true))) if 'staging_servers' in group_names else (vaultwarden_fqdn | default(ansible_fqdn, true)) }}
    tls {{ letsencrypt.email }}

    reverse_proxy localhost:{{ vaultwarden_port }} {
      header_up X-Real-IP {remote_host}
      }
